# This file is a template, and might need editing before it works on your project.
variables:
  RELEASE: ""
  ARCH: ""

docker-build-amd64:
  # Official docker image.
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - export ARCH=amd64
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --build-arg RELEASE=$RELEASE --build-arg ARCH=$ARCH --pull -t "$CI_REGISTRY_IMAGE" -t "$CI_REGISTRY_IMAGE:$RELEASE" .
    - docker push "$CI_REGISTRY_IMAGE"
    - docker push "$CI_REGISSTRY_IMAGE:$RELEASE"
  only:
    variables:
      - $RELEASE != ""
    refs:
      - master

#docker-build:
#  # Official docker image.
#  image: docker:latest
#  stage: build
# services:
#    - docker:dind
#  before_script:
#    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
#  script:
#    - docker build --pull -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG" .
#    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG"
#  except:
#    - master
